/* @group import */
/* @end */
/* @group global var */
/* @end */
/* @group fonts */
@font-face {
  font-family: 'stereosuper';
  src: url('../_fonts/stereosuper.eot?ff4750');
  src: url('../_fonts/stereosuper.eot?#iefixff4750') format('embedded-opentype'), url('../_fonts/stereosuper.woff?ff4750') format('woff'), url('../_fonts/stereosuper.ttf?ff4750') format('truetype'), url('../_fonts/stereosuper.svg?ff4750#stereosuper') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'stereosuper';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-pin:before {
  content: "\e600";
}
.icon-tel:before {
  content: "\e601";
}
/* @end */
/* @group Commons */
/****************** COMMON ******************/
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  text-rendering: optimizeLegibility;
  position: relative;
  overflow-x: hidden;
}
.clearfix:before,
.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  visibility: hidden;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1;
}
.clearing {
  clear: both;
  height: 1px;
}
.ie7 img {
  -ms-interpolation-mode: bicubic;
}
strong,
th {
  font-weight: bold;
}
a,
a span {
  color: #01b4ff;
  text-decoration: none;
  border-bottom: 1px solid #01b4ff;
  outline: none;
}
a {
  margin: 0 1px 1px 0;
  -webkit-transition: color 300ms ease-in-out, border-color 300ms ease-in-out;
  -moz-transition: color 300ms ease-in-out, border-color 300ms ease-in-out;
  -o-transition: color 300ms ease-in-out, border-color 300ms ease-in-out;
  transition: color 300ms ease-in-out, border-color 300ms ease-in-out;
}
a:hover,
a:hover span {
  color: #fff;
  border-bottom: 1px solid #fff;
}
a:active,
a:active span {
  /*color : #00657f;
		border-bottom: 1px solid #00657f;
		text-decoration: line-through;*/
}
a:active {
  /*color : #00657f;
		border-bottom: 1px solid #00657f;
		margin: 1px 0 0 1px;*/
}
h1 {
  margin: 0;
}
/* custom selection colors */
::-moz-selection {
  color: #013b47;
  background: #01b4ff;
}
::selection {
  color: #013b47;
  background: #01b4ff;
}
/* @end */
/* @group Structure */
/******************** STRUCTURE ********************/
#navigation {
  background: #000;
  padding: 35px 0 0 0;
  height: 87px;
  width: 100%;
  min-width: 820px;
  z-index: 3;
  position: fixed;
  border-bottom: 1px solid #222;
}
ul#menu-responsive {
  display: none;
  width: 100%;
  height: auto;
  margin: 30px 0 0 0;
  padding: 0;
}
.no-touch ul#menu-responsive {
  display: none;
}
ul#menu-responsive li {
  display: block;
  width: 90%;
  height: 60px;
  line-height: 60px;
  padding: 0 0 0 10%;
  font-size: 1.5em;
  margin: 0;
}
ul#menu-responsive li a {
  color: #ffffff;
  text-decoration: none;
  border: none;
  font-family: 'Gotham SSm A', 'Gotham SSm B', sans-serif;
  font-size: 0.8em;
  font-weight: 300;
  font-style: normal;
  padding: 0 0 0 80px;
  position: relative;
  line-height: 60px;
  height: 60px;
  display: block;
}
ul#menu-responsive li a:hover {
  color: #01b4ff;
}
ul#menu-responsive li a:hover span {
  color: #01b4ff;
}
ul#menu-responsive li a span {
  color: #ffffff;
  text-decoration: none;
  border: none;
  position: absolute;
  font-size: 2.4em;
  top: 0;
  left: 0;
  display: block;
  height: 60px;
  width: 60px;
  line-height: 60px;
  text-align: center;
}
ul#menu-responsive li a span.icon-tel {
  font-size: 3.5em;
}
#navigation-responsive {
  background: #000;
  padding: 0;
  height: 60px;
  width: 100%;
  z-index: 3;
  position: absolute;
  border-bottom: 1px solid #222;
  display: none;
}
#navigation-responsive a#btn-sidebar {
  display: block;
  height: 60px;
  width: 60px;
  background: none;
  float: right;
  border: none;
  border-left: 1px solid #838382;
}
#navigation-responsive a#btn-sidebar svg#svg-btn-responsive {
  display: block;
  width: 60px;
  height: 60px;
  text-align: center;
}
#navigation-responsive a#btn-sidebar svg#svg-btn-responsive .group-rect rect {
  fill: #ffffff;
}
#navigation-responsive a#btn-sidebar svg#svg-btn-responsive .group-rect .rect1 {
  -webkit-transform-origin: 0% 0%;
  -moz-transform-origin: 0% 0%;
  -o-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
}
#navigation-responsive a#btn-sidebar svg#svg-btn-responsive .group-rect .rect3 {
  -webkit-transform-origin: 0% 0%;
  -moz-transform-origin: 0% 0%;
  -o-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
}
#content {
  width: 100%;
  min-width: 750px;
  position: absolute;
  z-index: 2;
  top: 120px;
}
#globalBorder {
  margin: 0;
}
#globalBorder li {
  position: fixed;
  list-style: none;
  margin: 0;
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
}
.ie6 #navigation,
.ie6 #content,
.ie7 #navigation,
.ie7 #content,
.ie8 #navigation,
.ie8 #content {
  width: 100%;
  min-width: 980px;
}
/**** LOGO ****/
a#stereosuper {
  display: block;
  height: auto;
  margin: 2px 42px 0 50px;
  padding: 33px 0 0 0;
  overflow: hidden;
  position: relative;
  float: left;
  border: 0 none;
  background: url('../_images/logo-stereosuper.png') no-repeat top center;
  font-family: 'Gotham SSm A', 'Gotham SSm B', sans-serif;
  font-size: 0.28em;
  font-weight: 200;
  color: #fff;
}
a#stereosuper strong {
  font-weight: 500;
  color: #01B4FE;
  margin-right: 1px;
}
a#stereosuper-responsive {
  display: none;
  height: 26px;
  width: 55px;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 18px;
  left: 18px;
  background: url('../_images/logo-stereosuper.png') no-repeat 0 0;
  border: none;
  z-index: 2;
}
/*a#stereosuper:hover span { background-position: 0 -210px }
a#stereosuper:active span { background-position: 1px -69px }*/
/* @end */
/* @group Nav */
/* @group Menu */
/**** MENU ****/
ul#menu {
  display: inline;
  padding: 9px 32px 0 15px;
  float: left;
  text-transform: uppercase;
  background: #000;
}
.ie6 ul#menu {
  display: none;
}
ul#menu a {
  border: 0 none;
}
ul#menu li {
  margin: 0.1em 0 0.2em;
  list-style: none;
  position: relative;
  padding: 0;
}
ul#menu li.blueDash {
  padding: 0 0 0 8px;
}
.lt-ie7 ul#menu li,
.lt-ie7 ul#menu li a {
  margin: 0.1em 0 0 0;
  padding: 0;
  height: 16px;
  line-height: 16px;
}
ul#menu li.sub {
  display: inline;
  float: left;
  margin-bottom: 25px;
  margin-top: 21px;
  background: none;
}
.lt-ie7 ul#menu li.sub {
  margin-top: 17px;
}
ul#menu li a {
  font-family: 'Gotham SSm A', 'Gotham SSm B', sans-serif;
  font-size: 0.8em;
  font-weight: 300;
  font-style: normal;
  display: block;
  /*line-height: 16px;*/
  margin: 0;
  padding: 0 0 0 5px;
  color: #fff;
  -webkit-transition: color 300ms ease-in-out;
  -moz-transition: color 300ms ease-in-out;
  -o-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
}
ul#menu li a:hover {
  color: #01b4ff;
}
ul#menu li.selected a {
  color: #01b4ff;
  cursor: default;
}
ul#menu li a ul#menu li.blueDash {
  padding-left: 8px;
}
ul#menu ul.sub1 {
  width: 135px;
}
ul#menu ul.sub2 {
  width: 135px;
}
ul#menu ul.sub3 {
  width: 135px;
}
/* @group Coordonnées */
/**** COORDONNÉES ****/
#address {
  width: 260px;
  padding: 11px 50px 0 8px;
  float: right;
  background: #000;
  margin: 0;
  font-size: 0.9em;
  color: #fff;
  text-align: right;
}
#address address {
  font-family: 'Gotham SSm A', 'Gotham SSm B', sans-serif;
  font-style: normal;
  font-size: 0.9em;
  font-weight: 200;
  line-height: 1.3em;
  padding-left: 13px;
  margin: 0 0 8px 0;
}
#address #tel {
  display: block;
  margin-top: 0.4em;
}
#address ul#social li {
  display: inline;
  list-style: none;
  margin-right: 20px;
}
#address ul#social li a#facebookLink {
  border: 0 none;
  padding-left: 13px;
  background: url('../_images/heart.gif') no-repeat 0 4px;
}
#address ul#social li a#facebookLink:hover {
  background-position: 0 -11px;
}
#address ul#social li a#facebookLink:active {
  background-position: 0 -26px;
}
/* @end */
/* @end */
/* @group Accueil */
/******************** ACCUEIL ********************/
#MovieBG {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background: #566862;
  overflow: hidden;
}
#homeBG {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background: #231e19 url('../_images/_home/bgHome.jpg') no-repeat bottom right;
  overflow: hidden;
}
#homeBGop,
#nextBGop {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  overflow: hidden;
}
#nextBGop {
  z-index: 1;
  opacity: 0;
  display: none;
}
#flashmovie video,
object#flashmovie {
  position: absolute;
  left: 0;
  top: 150px;
  width: 100%;
}
.home h2 {
  margin: 140px 0 15px 146px;
  padding: 0;
  position: relative;
  overflow: hidden;
  font-family: 'Gotham SSm A', 'Gotham SSm B', sans-serif;
  font-style: normal;
  font-size: 3em;
  font-weight: 400;
  text-transform: uppercase;
  color: #01b4ff;
}
.home h2 br {
  display: none;
}
.home h2 #pre-titre-home {
  display: block;
  width: 160px;
  background: #000;
  padding: 0 10px;
  line-height: normal;
}
.home h2 #titre-home {
  display: block;
  background: #000;
  padding: 0 10px;
  line-height: normal;
  margin-top: 5px;
  width: 620px;
}
.home p {
  margin: 0 0 0 146px;
  padding: 5px 15px;
  display: inline-block;
  background: #000;
  color: #fff;
  line-height: 1em;
  letter-spacing: 0.03em;
  -webkit-text-size-adjust: none;
}
/*.home h2 span {
	background: url('../_images/_home/finisLesSitesMononuls.gif') no-repeat top right;
	display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}*/
.ie7 .home p {
  display: inline;
  padding: 2px 15px 1px;
  line-height: 1.4em;
}
#footerMentions {
  position: absolute;
  left: 0;
  bottom: 0;
  heigth: 15px;
  width: 95%;
  background: #000;
  background: rgba(0, 0, 0, 0.5);
  color: #ccc;
  z-index: 3;
  padding: 3px 0;
  text-align: right;
  font-size: 0.6em;
  padding-right: 5%;
  min-width: 450px;
}
/* @end */
/* @group À propos */
/******************** À PROPOS ********************/
.bapropos {
  background: #efdfba;
}
.aPropos {
  background: #efdfba url('../_images/_aPropos/bgApropos.jpg') no-repeat center 0;
  background-attachment: fixed;
}
.aPropos a,
.aPropos a span {
  color: #0488bf;
  border-bottom: 1px solid #0488bf;
}
.aPropos a:hover,
.aPropos a:hover span {
  color: #fff;
  border-bottom: 1px solid #fff;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.aPropos a:active,
.aPropos a:active span {
  color: #00657f;
  border-bottom: 1px solid #00657f;
  text-decoration: line-through;
}
.aPropos a:active {
  color: #00657f;
  border-bottom: 1px solid #00657f;
  margin: 1px 0 0 1px;
}
.aPropos h2 {
  width: 900px;
  height: 152px;
  margin: 40px 0 0 0;
  padding: 0;
  position: relative;
  overflow: hidden;
  text-indent: -9000px;
}
.aPropos h2 span {
  background: url('../_images/_aPropos/vousVoulez.gif') no-repeat top right;
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.aPropos h3#faireBeau {
  width: 568px;
  height: 31px;
  margin: 20px 0 20px 140px;
  padding: 0;
  position: relative;
  overflow: hidden;
  text-indent: -9000px;
}
.aPropos h3#faireBeau span {
  background: url('../_images/_aPropos/faireBeauEtInteressant.gif') no-repeat top right;
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.aPropos #stereosuperCompatible {
  width: auto;
  margin: 80px 0 20px 115px;
  padding: 0 0 0 32px;
  position: relative;
}
.aPropos #stereosuperCompatible h3 {
  width: 1px;
  height: 1px;
  text-indent: -9000px;
  margin: 0;
  padding: 0;
}
.aPropos #stereosuperCompatible iframe {
  border: 5px solid #000000;
  background: #000000;
}
.aPropos #creativite {
  margin: 20px 0 80px;
  width: auto;
}
.aPropos #creativite p,
.aPropos #creativite ul {
  width: auto;
  margin: 20px 40px 0 140px;
  padding: 0;
}
.aPropos #creativite img {
  margin: 0 5px 40px 102px;
  clear: both;
  float: left;
}
.aPropos #creativite p.subtext {
  width: auto;
  clear: both;
  margin-right: 40px;
}
.aPropos #creativite h3 {
  margin: 30px 0;
  width: 870px;
  height: 50px;
  padding: 0;
  position: relative;
  overflow: hidden;
  text-indent: -9000px;
}
.aPropos #creativite h3 span {
  background: url('../_images/_aPropos/aGrandsCoups.png') no-repeat top right;
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.aPropos #icebergInvisible {
  margin: 30px 0 40px 140px;
}
.aPropos #icebergInvisible img {
  margin: 3px 45px 40px 0;
  float: left;
}
.aPropos #icebergInvisible #iceText {
  float: left;
  width: auto;
  margin-right: 40px;
}
.aPropos #icebergInvisible h3 {
  margin: 0 0 30px;
  width: 345px;
  height: 39px;
  padding: 0;
  position: relative;
  overflow: hidden;
  text-indent: -9000px;
}
.aPropos #icebergInvisible h3 span {
  background: url('../_images/_aPropos/sousLaSurface.gif') no-repeat top right;
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.aPropos #daweb {
  height: 1612px;
  background: url('../_images/_aPropos/parcoursStereosuper.png') no-repeat 95px 430px;
}
.aPropos #daweb p {
  margin-right: 30px;
  margin-left: 140px;
  width: auto;
}
.aPropos #daweb h3 {
  width: auto;
  margin: 20px 30px 50px 140px;
  min-width: 760px;
  height: 120px;
  padding: 0;
  position: relative;
  overflow: hidden;
  text-indent: -9000px;
  background: url('../_images/_aPropos/decorDaWeb.png') no-repeat bottom right;
}
.aPropos #daweb h3 span {
  background: url('../_images/_aPropos/directionArtistiqueWeb.png') no-repeat bottom left;
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.aPropos #contact {
  min-width: 820px;
  margin-bottom: 200px;
}
.aPropos #contact h3 {
  width: 650px;
  height: 174px;
  padding: 0;
  position: relative;
  overflow: hidden;
  float: left;
  text-indent: -9000px;
}
.aPropos #contact h3 span {
  background: url('../_images/_aPropos/besoindInfos.png') no-repeat bottom right;
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.aPropos #contact a {
  display: block;
  width: 314px;
  height: 314px;
  float: left;
  overflow: hidden;
  position: relative;
  border: 0 none;
  text-indent: -9000px;
}
.aPropos #contact a span {
  background: url('../_images/_aPropos/contactezNous.png') no-repeat 0 0;
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  border: 0 none;
}
.aPropos #contact a:hover span {
  background-position: 1px -313px;
}
/* @end */
/* @group Portfolio */
/******************** PORTFOLIO ********************/
.bportfolio {
  background: #f0f0f0;
}
#content.portfolio {
  top: 0;
  margin: 0;
  padding: 0;
  min-height: 100%;
}
.portfolio h2 {
  width: 746px;
  height: 108px;
  margin: 190px 0 40px 0;
  padding: 0;
  position: relative;
  overflow: hidden;
  text-indent: -9000px;
}
.portfolio h2 span {
  background: url('../_images/_portfolio/bgNosSuperReas.gif') no-repeat top right;
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.portfolio p {
  margin-left: 216px;
  margin-right: 60px;
  width: auto;
}
.portfolio #realisations {
  display: block;
  margin: 40px 0 120px 214px;
}
.portfolio #realisations a.accordionButton {
  display: block;
  height: 24px;
  width: 330px;
  overflow: hidden;
  position: relative;
  border: 0 none;
  text-indent: -9000px;
  margin: 1px 0;
  background: url(../_images/bgBlueDash.gif) no-repeat -10px 12px;
  border-left: 2px solid black;
  background-color: #000;
}
.portfolio #realisations a.accordionButton span.bigHeader {
  display: none;
  visibility: hidden;
}
.portfolio #realisations a.accordionButton span {
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  border: 0 none;
  background-repeat: no-repeat;
}
.portfolio #realisations a:hover.accordionButton {
  background-position: 3px 12px;
}
.portfolio #realisations a:hover.accordionButton span {
  background-position: 17px 0;
}
.ie7 .portfolio #realisations .legend {
  padding: 0;
  margin: 0;
}
.portfolio #realisations .accordionContent {
  margin: 20px 0 40px 0;
}
.portfolio #realisations .accordionContent h3 {
  font-weight: bold;
  letter-spacing: -0.05em;
  margin: 0;
}
.portfolio .slideshowContener {
  position: relative;
  float: left;
  width: 617px;
  margin-bottom: 20px;
}
.portfolio .accordionContent .legend {
  float: none;
  clear: both;
  width: 750px;
  margin: 0 60px 0 0;
  padding: 0;
}
.portfolio .accordionContent .legend a.visitWebsite {
  margin: 20px 0 0 10px;
  display: block;
  height: 116px;
  width: 116px;
  overflow: hidden;
  position: relative;
  border: 0 none;
  text-indent: -9000px;
  float: right;
}
.portfolio .accordionContent .legend a.visitWebsite span {
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  border: 0 none;
  background: url(../_images/_bonus/voir.png) no-repeat 0 -5px;
}
.portfolio .accordionContent .legend a:hover.visitWebsite span {
  background-position: 0 -120px;
}
.portfolio .legend p a,
.portfolio .legend p a span {
  color: #1b85b2;
  border-bottom: 1px solid #1b85b2;
}
.portfolio .legend p a:hover,
.portfolio .legend p a:hover span {
  color: #35b1e5;
  border-bottom: 1px solid #35b1e5;
}
.portfolio .accordionContent h3 {
  display: block;
  clear: both;
  margin: 30px 0;
  padding: 0;
}
.portfolio .accordionContent p {
  margin: 0 0 15px 0;
  font-size: 0.9em;
  float: none;
  width: auto;
}
.portfolio .accordionContent .descriptif {
  position: relative;
  margin: 20px 0;
  font-size: 1em;
  display: block;
  float: left;
  width: 600px;
}
.portfolio .slideshowContener a.prec,
.portfolio .slideshowContener a.next {
  display: none;
  width: 80px;
  height: 80px;
  position: absolute;
  z-index: 100;
  border: 0 none;
  text-indent: -9000px;
  overflow: hidden;
}
.portfolio .slideshowContener a.prec span,
.portfolio .slideshowContener a.next span {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  border: 0 none;
}
.portfolio .slideshowContener a.next span {
  background: url('../_images/_portfolio/suivBtn.png') no-repeat 0 0;
}
.portfolio .slideshowContener a.prec span {
  background: url('../_images/_portfolio/prevBtn.png') no-repeat 0 0;
}
.portfolio .slideshowContener a:hover.prec span,
.portfolio .slideshowContener a:hover.next span {
  background-position: 0 -80px;
}
.portfolio .slideshowContener .slideshowImages {
  list-style-type: none;
  position: relative;
  overflow: hidden;
  border: 0 none;
  display: block;
}
.portfolio .slideshowContener .slideshowImages li {
  border: 0 none;
  width: 617px;
  height: 417px;
  margin: 0;
  padding: 0;
}
.portfolio .slideshowContener .slideshowImages li a,
.portfolio .slideshowContener .slideshowImages li a:hover,
.portfolio .slideshowContener .slideshowImages li a:visited,
.portfolio .slideshowContener .slideshowImages li a:active {
  margin: 0;
  padding: 0;
  border: 0 none;
}
.embedPortfolio {
  background: url('../_images/_portfolio/arg.png') no-repeat 0 0;
}
#navBtn {
  display: none;
  position: fixed;
  height: 100px;
  width: 90px;
  left: -100px;
  top: 50%;
  z-index: 50;
  background: url('../_images/_portfolio/border.png') no-repeat 0 62px;
}
#navBtn a {
  display: block;
  width: 90px;
  height: 60px;
  position: relative;
  overflow: hidden;
  border: 0 none;
  text-indent: -9000px;
  padding-bottom: 3px;
}
#navBtn a span {
  height: 60px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  border: 0 none;
}
#navBtn a#up span {
  background: url('../_images/_portfolio/upBtn.png') no-repeat top right;
}
#navBtn a#down span {
  background: url('../_images/_portfolio/downBtn.png') no-repeat top right;
}
#navBtn a:hover#down span,
#navBtn a:hover#up span {
  background-position: right -60px;
}
.datePortfolio {
  display: none;
}
/* @end */
/* @group References */
/******************** RÉFÉRENCES ********************/
.references {
  background: #0462ff url(../_images/_references/bgRepeatRefs.png) repeat-x 250px bottom;
}
.references #pageRefs {
  background: url(../_images/_references/bgReferences.png) no-repeat -115px bottom;
  color: #fff;
  width: 100%;
}
.references h2 {
  width: 625px;
  height: 102px;
  margin: 40px 0 0 0;
  padding: 0;
  position: relative;
  overflow: hidden;
  text-indent: -9000px;
  float: none;
  clear: right;
}
.references h2 span {
  background: url('../_images/_references/superConfiance.png') no-repeat top right;
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.references #bellesDents {
  display: block;
  position: absolute;
  margin: 60px 30px 50px 0;
  width: auto;
  float: left;
  clear: left;
  padding-right: 400px;
}
.references p {
  margin-left: 140px;
  width: auto;
  -webkit-text-size-adjust: none;
}
#quotesStereo {
  display: block;
  position: relative;
  width: 300px;
  height: 280px;
  float: right;
  margin: 10px 100px 0 0;
  padding: 0;
  overflow: hidden;
  list-style-type: none;
}
#quotesStereo li {
  display: block;
  height: 230px;
  left: 0;
  position: absolute;
  bottom: 20px;
  width: 100%;
}
#quotesStereo li.initInvisible {
  display: none;
  visibility: hidden;
}
.ie7 .references #listeRefs {
  margin: 0;
  padding-left: 120px;
}
.references #listeRefs {
  margin: 0 90px 60px 120px;
  padding: 0;
  width: auto;
  border: 0 none;
  clear: both;
}
.references #listeRefs img {
  float: left;
}
.references a#vous {
  display: block;
  float: left;
  width: 107px;
  height: 106px;
  padding: 0;
  margin: 0;
  position: relative;
  overflow: hidden;
  text-indent: -9000px;
  border: 0 none;
}
.references a#vous span {
  background: url('../_images/_references/vous.png') no-repeat top left;
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.references a#vous:hover span {
  background-position: 0 -106px;
}
.references #contact {
  background: url('../_images/_references/besoindInfos.png') no-repeat 434px 539px;
  padding: 400px 0 100px;
  width: 100%;
  margin: 0;
}
.references #contact a {
  display: block;
  width: 314px;
  height: 314px;
  float: left;
  margin-left: 100px;
  overflow: hidden;
  position: relative;
  border: 0 none;
  text-indent: -9000px;
}
.references #contact a span {
  background: url('../_images/_references/contactezNous.png') no-repeat 0 0;
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  border: 0 none;
}
.references #contact a:hover span {
  background-position: 1px -312px;
}
/* @end */
/* @group Bonus tracks */
/******************** BONUS TRACKS ********************/
.bbonus {
  background: #f02a69;
}
.bonus h2 {
  width: 845px;
  height: 58px;
  background: #000;
}
.bonus h2 span {
  background: url('../_images/_bonus/MetroBoulotPerso.gif') no-repeat bottom right;
}
/* @end */
/* @group Contact */
/******************** CONTACT ********************/
.contactPage {
  background: #cadffe url('../_images/_contact/bgContact.jpg') no-repeat right 130px;
  background-attachment: fixed;
}
.contactPage h2 {
  width: 770px;
  height: 51px;
  margin: 40px 0 40px 0;
  padding: 0;
  position: relative;
  overflow: hidden;
  text-indent: -9000px;
}
.contactPage h2 span {
  background: url('../_images/_contact/faitesvousentendre.gif') no-repeat top right;
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.contactPage p {
  margin-left: 98px;
  width: 669px;
}
.contactPage #coordonnees {
  float: left;
  padding-top: 20px;
}
.contactPage #coordonnees p {
  margin-left: 98px;
  width: 335px;
}
.contactPage #mapContainer {
  width: 315px;
  height: 250px;
  background-color: rgba(0, 0, 0, 0.07);
  padding: 10px;
  margin: 20px 0 50px 88px;
}
.contactPage #map_canvas {
  margin: 0;
  width: 315px;
  height: 250px;
  position: relative;
  overflow: hidden;
  padding: 0;
}
.contactPage #innerForm {
  position: relative;
  zoom: 1;
  overflow: hidden;
  display: block;
  background: url('../_images/_contact/bgform.png') repeat-y left top;
  margin: 0 1px 0 0;
  padding: 0 0 17px 0;
  border-bottom: 0px solid #000;
}
.contactPage #formContact {
  width: 542px;
  margin: 0 10px 80px 15px;
  float: left;
  padding: 20px 0 80px 0;
}
.contactPage #formContact .error {
  color: #ff0000;
}
.contactPage #formContact h3 {
  width: 541px;
  height: 4px;
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
  text-indent: -9000px;
}
.contactPage #formContact h3 span {
  background: #000;
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.contactPage #formContact p {
  margin: 25px 36px;
  width: 470px;
}
.contactPage #formContact label {
  margin: 5px 10px 0 35px;
  font-weight: bold;
}
.contactPage #formContact textarea#message {
  width: 465px;
}
.contactPage #sendArea {
  background: url('../_images/_contact/bgBottomForm.png') no-repeat 0 0;
  margin: 0;
  padding: 0 0 0 294px;
  height: 104px;
}
.contactPage #inAction {
  background: url('../_images/_contact/envoyez.png') no-repeat 0 -104px;
  border: none;
  cursor: pointer;
  display: block;
  height: 104px;
  overflow: hidden;
  padding: 0;
  position: relative;
  margin: 0;
  text-indent: -9999px;
  width: 107px;
  font-size: 0;
  line-height: 104px;
}
.contactPage #inAction:hover {
  background-position: 0 -2px;
}
.contactPage p#messageOk {
  height: 435px;
  margin-bottom: 0;
  padding: 0;
}
/* @end */
/* @group Form */
/******************** FORM ***********************/
.sideNotes {
  font-size: 0.8em;
  font-style: italic;
}
textarea {
  overflow: auto;
}
select,
input,
textarea,
button {
  font: 99% sans-serif;
}
label,
input[type=button],
input[type=submit],
button {
  cursor: pointer;
}
input,
textarea {
  outline: none;
  -moz-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-property: border-color;
  -webkit-transition-property: border-color;
  -o-transition-property: border-color;
  transition-property: border-color;
  -moz-transition-timing-function: linear;
  -webkit-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
}
input[type="text"],
input[type="email"],
textarea {
  display: block;
  border: 1px solid #ddd;
  font-size: 0.8em;
  color: #01b4ff;
  padding: 8px 8px;
  margin: 2px 26px 16px 26px;
}
input[type="text"]:hover,
input[type="email"]:hover,
textarea:hover,
input[type="text"].errorInput:hover,
input[type="email"].errorInput:hover,
textarea.errorInput:hover {
  border: 1px solid #999999;
}
input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus,
input[type="text"].errorInput:focus,
input[type="email"].errorInput:focus,
textarea.errorInput:focus {
  border: 2px solid #01b4ff;
  margin: 1px 25px 15px 25px;
  -moz-box-shadow: #c0ecfe 0 0 5px 0;
  -webkit-box-shadow: #c0ecfe 0 0 5px 0;
  -o-box-shadow: #c0ecfe 0 0 5px 0;
  box-shadow: #c0ecfe 0 0 5px 0;
}
input[type="text"].errorInput,
input[type="email"].errorInput,
textarea.errorInput {
  border: 1px solid #ff0000;
}
select {
  display: block;
  margin: 2px 26px 16px 26px;
  padding: 0;
}
div.selector {
  border: 1px solid #ddd;
  display: block;
  background: #ffffff url('../_images/_contact/skinSelect.gif') no-repeat right 0;
  margin: 2px 26px 16px 26px;
  height: 35px;
  line-height: 35px;
  width: 470px;
  padding: 0;
  -moz-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-property: border-color;
  -webkit-transition-property: border-color;
  -o-transition-property: border-color;
  transition-property: border-color;
  -moz-transition-timing-function: linear;
  -webkit-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
  cursor: pointer;
}
div.selector span {
  font-size: 0.9em;
  color: #01b4ff;
  padding: 0;
  cursor: pointer;
  height: 35px;
  line-height: 35px;
  padding: 1px 0 0 0;
}
div.selector select {
  font-size: 0.9em;
  top: 0;
  left: -16px;
  min-width: 480px;
  padding: 0;
  cursor: pointer;
}
div.selector.hover,
div.selector:hover {
  border: 1px solid #999;
  margin: 2px 26px 16px 26px;
  background-position: right -35px;
}
div.selector.focus,
div.selector:focus {
  border: 2px solid #01b4ff;
  margin: 1px 25px 15px 25px;
  -moz-box-shadow: #c0ecfe 0 0 5px 0;
  -webkit-box-shadow: #c0ecfe 0 0 5px 0;
  -o-box-shadow: #c0ecfe 0 0 5px 0;
  box-shadow: #c0ecfe 0 0 5px 0;
  background-position: right -70px;
  cursor: pointer;
}
/* @end */
/* @group 404 */
/******************** 404 ********************/
.b404 {
  background: #e6e3ca url('../_images/_e404/bg404.jpg') no-repeat fixed left 0;
}
.e404 h2 {
  display: block;
  width: 588px;
  height: 152px;
  margin: 40px 0 0 0;
  padding: 0;
  position: relative;
  overflow: hidden;
  text-indent: -9000px;
}
.e404 h2 span {
  background: url('../_images/_e404/erreur.png') no-repeat top right;
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.e404 h3#retouraccueil {
  display: block;
  width: 570px;
  color: #FFF;
  font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  font-size: 16px;
  text-align: right;
}
/* @end */
/* @group IE6 */
/******************** IE6 ********************/
.bIE6 {
  background: #070605 url('../_images/_ie6/bgIE6.jpg') no-repeat left 130px;
  height: 1810px;
}
.pageIe6 h2 {
  margin: 40px 0 50px 0;
  padding: 0;
  width: 660px;
  height: 52px;
  position: relative;
  overflow: hidden;
  text-indent: -9000px;
  background: #000;
}
.pageIe6 h2 span {
  background: #000000 url('../_images/_ie6/pardon.gif') no-repeat top right;
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.ie7 .pageIe6 p,
.ie6 .pageIe6 p {
  display: inline;
  padding: 2px 15px 1px;
  line-height: 1.4em;
}
.pageIe6 p {
  margin: 0 0 0 146px;
  padding: 5px 15px;
  display: inline-block;
  background: #000;
  color: #fff;
  line-height: 1em;
  letter-spacing: 0.03em;
}
/* @end */
/* @group Unsubscribe */
.bUnsubscribe {
  background: #000;
  width: 100%;
  height: auto;
  padding: 0 0 50px 0;
}
.centered {
  text-align: center;
  margin: 50px auto;
  width: 567px;
  color: #fff;
}
.centered img {
  display: block;
  border: 0 none;
}
/* @end */
/* @group ShadowBox */
/******************** SHADOWBOX ********************/
#sb-title-inner,
#sb-info-inner,
#sb-loading-inner,
div.sb-message {
  font-family: "HelveticaNeue-Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
  color: #000;
}
#sb-container {
  position: fixed;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  z-index: 998;
  text-align: left;
  visibility: hidden;
  display: none;
}
#sb-overlay {
  position: relative;
  height: 100%;
  width: 100%;
}
#sb-wrapper {
  position: absolute;
  visibility: hidden;
  width: 100px;
}
#sb-wrapper-inner {
  position: relative;
  overflow: hidden;
  height: 100px;
}
#sb-body {
  position: relative;
  height: 100%;
}
#sb-body-inner {
  position: absolute;
  height: 100%;
  width: 100%;
}
#sb-player.html {
  height: 100%;
  overflow: auto;
}
#sb-body img {
  border: none;
}
#sb-loading {
  position: relative;
  height: 100%;
}
#sb-loading-inner {
  position: absolute;
  font-size: 14px;
  line-height: 16px;
  height: 16px;
  top: 50%;
  margin-top: -12px;
  width: 100%;
  text-align: center;
}
#sb-loading-inner span {
  display: inline-block;
}
#sb-title,
#sb-info {
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#sb-title,
#sb-title-inner {
  height: 1px;
  line-height: 1px;
  display: none;
}
#sb-title-inner {
  font-size: 16px;
}
#sb-info {
  height: 47px;
  line-height: 20px;
  top: 0;
  z-index: 999;
  position: absolute;
  top: -20px;
  right: -20px;
}
#sb-info-inner {
  font-size: 12px;
}
#sb-nav a {
  display: block;
  height: 47px;
  width: 47px;
  cursor: pointer;
  background-repeat: no-repeat;
  border-bottom: 0 none;
  padding: 0;
  margin: 0;
}
a#sb-nav-close {
  background-image: url(../_images/_shadowbox/close.gif);
}
a#sb-nav-close:hover {
  background-position: 0 -47px;
}
/* @end */
@media (min-width: 1180px) {
  .home h2 {
    width: 814px;
    margin-left: 211px;
  }
  .home p {
    margin-left: 210px;
  }
  .aPropos #stereosuperCompatible {
    width: 460px;
    margin-left: 178px;
  }
  .aPropos #creativite p.subtext {
    width: 300px;
    margin-right: 0;
    clear: none;
  }
  .aPropos #icebergInvisible #iceText {
    width: 345px;
    float: left;
  }
  .aPropos #creativite img {
    clear: none;
    float: right;
    margin: 0 5px;
  }
  .aPropos #creativite {
    width: 1150px;
  }
  .aPropos h2 {
    width: 970px;
  }
  .aPropos h3#faireBeau,
  .aPropos #creativite p,
  .aPropos #creativite ul,
  .aPropos #daweb h3,
  .aPropos #icebergInvisible {
    margin-left: 209px;
  }
  .aPropos #creativite h3 {
    width: 943px;
  }
  .aPropos #daweb h3 {
    width: 940px;
  }
  .aPropos #daweb {
    background-position: 165px 180px;
    height: 1362px;
  }
  .aPropos #daweb p {
    width: 345px;
    margin-left: 797px;
  }
  .aPropos #contact h3 {
    width: 821px;
  }
  .portfolio p {
    width: 900px;
    margin-right: 60px;
  }
  .portfolio .accordionContent .legend {
    float: left;
    width: 260px;
    margin: 0 0 10px 60px;
    clear: none;
  }
  .portfolio .slideshowContener {
    margin-bottom: 0;
  }
  .portfolio .accordionContent h3 {
    clear: none;
    margin: 0;
    padding: 0;
  }
  .portfolio .accordionContent .descriptif {
    width: 260px;
    margin: 25px 0 10px 0;
    float: none;
  }
  .portfolio .accordionContent .legend a.visitWebsite {
    margin-top: 0;
  }
  .references #pageRefs {
    background-position: left bottom;
  }
  .references #listeRefs {
    width: 906px;
    margin-left: 205px;
    margin-right: 30px;
  }
  .references h2 {
    width: 696px;
    float: left;
    clear: right;
    margin-bottom: 60px;
  }
  .references #bellesDents {
    position: relative;
    width: 770px;
    margin-top: 0;
    margin-right: 20px;
    padding-right: 390px;
    float: left;
    clear: left;
  }
  #quotesStereo {
    float: none;
    margin: 0 0 20px 30px;
    height: 430px;
    width: 400px;
  }
  #quotesStereo li {
    left: 90px;
  }
  .references p {
    margin-left: 211px;
  }
  .references #contact {
    background-position: 499px 539px;
  }
  .references #contact a {
    margin-left: 185px;
  }
  .contactPage p,
  .contactPage #coordonnees p {
    margin-left: 218px;
  }
  .contactPage #mapContainer {
    margin-left: 208px;
  }
  .contactPage #formContact {
    margin-left: 45px;
  }
  .contactPage h2 {
    width: 891px;
  }
  .e404 h2 {
    width: 724px;
  }
  .e404 h3#retouraccueil {
    width: 706px;
  }
  .pageIe6 h2 {
    width: 721px;
  }
  .pageIe6 p {
    margin-left: 204px;
  }
}
@media (max-width: 1000px) {
  #address {
    display: none;
  }
  .home h2 {
    width: 640px;
    margin-left: 36px;
  }
  .home p {
    margin-left: 36px;
  }
  .pageIe6 h2 {
    width: 549px;
  }
  .pageIe6 p {
    margin-left: 36px;
  }
  .aPropos h2 {
    width: 790px;
  }
  .aPropos h3#faireBeau,
  .aPropos #creativite p,
  .aPropos #creativite ul,
  .aPropos #creativite img,
  .aPropos #icebergInvisible,
  .aPropos #daweb p,
  .references #listeRefs,
  .aPropos #daweb h3,
  .references p {
    margin-left: 30px;
  }
  .aPropos #stereosuperCompatible {
    margin-left: 0;
  }
  .aPropos #creativite h3 {
    width: 760px;
  }
  .aPropos #daweb {
    background-position: 10px 430px;
  }
  .aPropos #contact h3 {
    width: 500px;
  }
  .portfolio h2 {
    width: 677px;
  }
  .bonus h2 {
    width: 777px;
  }
  .portfolio #realisations {
    display: block;
    margin: 40px 0 80px 144px;
  }
  .portfolio p {
    margin-left: 146px;
    width: 650px;
  }
  .portfolio .accordionContent .descriptif {
    width: 500px;
  }
  .portfolio .accordionContent .legend {
    float: none;
    clear: both;
    width: 650px;
    margin: 0;
    padding: 0;
  }
  .portfolio .slideshowContener {
    margin-bottom: 20px;
  }
  .portfolio .accordionContent h3 {
    display: block;
    clear: both;
    margin: 30px 0;
    padding: 0;
  }
  .references #pageRefs {
    background-position: -135px bottom;
  }
  .references #listeRefs {
    margin-right: 40px;
  }
  .references h2 {
    width: 515px;
    float: none;
  }
  .references #bellesDents {
    margin-bottom: 20px;
    padding-right: 330px;
  }
  .references p {
    width: auto;
  }
  #quotesStereo {
    margin: 50px 50px 0 0;
  }
  #quotesStereo li {
    bottom: 50px;
  }
  .references #contact {
    background-position: 354px 539px;
  }
  .references #contact a {
    margin-left: 40px;
  }
  .contactPage h2 {
    width: 721px;
  }
  .contactPage p {
    margin-left: 50px;
  }
  .contactPage #coordonnees {
    margin-left: 40px;
    position: relative;
    top: 0;
  }
  .contactPage #coordonnees p {
    /*float: left;*/
    width: 350px;
    margin-left: 10px;
  }
  .contactPage #mapContainer {
    width: 541px;
    height: 180px;
    margin: 20px 0;
  }
  .contactPage #map_canvas {
    margin: 0;
    width: 541px;
    height: 180px;
  }
  .contactPage #formContact {
    margin: 30px 0 0 50px;
    padding: 20px 0 80px 0;
  }
  .e404 h2 {
    width: 528px;
  }
  .e404 h3#retouraccueil {
    width: 510px;
  }
  #homeBGop,
  #nextBGop {
    background-position: -400px 100%;
    background-size: auto 1000px;
  }
}
@media (max-height: 650px) {
  #homeBGop,
  #nextBGop {
    background-position: 100% -300px;
    background-size: auto 1000px;
  }
}
@media (max-width: 800px) {
  #homeBGop,
  #nextBGop {
    background-position: -600px 100%;
  }
}
@media (min-width: 1533px) {
  #homeBGop,
  #nextBGop {
    background-size: 100% auto;
  }
}
@media (max-width: 979px) {
  body {
    font-size: 0.9em;
  }
}
@media (max-width: 767px) {
  body {
    font-size: 0.9em;
  }
  #navigation-responsive {
    display: block;
  }
  #navigation {
    visibility: visible;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    background: #000;
    width: 80%;
    height: 100%;
    min-width: inherit;
    padding: 0;
    border: none;
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  a#stereosuper-responsive {
    display: block;
  }
  ul#menu {
    float: none;
  }
  ul#menu li.sub {
    float: none;
  }
  ul#menu-responsive {
    display: block;
  }
  #navigation.open {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  #content {
    min-width: inherit;
    top: 0;
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
  }
  #content > h2 {
    margin-top: 135px;
  }
  #content.open {
    -webkit-transform: translate3d(-80%, 0, 0);
    transform: translate3d(-80%, 0, 0);
  }
  .home h2 {
    font-size: 2.2em;
    width: 92%;
    margin: 65px 4% 0 4%;
    line-height: 1.4em;
  }
  .home h2 #pre-titre-home {
    display: inline-block;
    width: auto;
  }
  .home h2 #titre-home {
    margin-top: 0;
    display: inline-block;
    width: auto;
  }
  .home p {
    width: 92%;
    font-size: 1.1em;
    margin-left: 4%;
    margin-right: 4%;
    padding: 5px 5px 5px 15px;
    line-height: 1.3em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .home p.first-p {
    margin-top: 5px;
    padding-bottom: 0;
  }
  .home p.second-p {
    margin-top: -2px;
    padding-top: 0;
  }
  .home h2 br {
    display: block;
  }
  ul#menu {
    display: block;
    width: 100%;
    height: auto;
    padding: 0;
    border-bottom: 1px solid #838382;
  }
  ul#menu li.sub {
    display: block;
    width: 90%;
    height: 60px;
    line-height: 60px;
    padding: 0 0 0 10%;
    font-size: 1.5em;
    margin: 0;
  }
  ul#menu li.blueDash {
    background-image: none!important;
  }
  ul#menu ul.sub1,
  ul#menu ul.sub2,
  ul#menu ul.sub3 {
    width: 100%;
    height: 100%;
  }
  a#stereosuper {
    display: none;
  }
}
@media (max-width: 480px) {
  body {
    min-height: 700px;
  }
  #homeBGop,
  #nextBGop {
    background-position: -880px 100%;
  }
  .home h2 {
    font-size: 1.6em;
  }
  .home p {
    font-size: 1em;
  }
}
/* @group retina */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
  a#stereosuper {
    background-image: url('../_images/logo-stereosuper@2x.png');
    -webkit-background-size: 55px 26px;
    -moz-background-size: 55px 26px;
    background-size: 55px 26px;
  }
  a#stereosuper-responsive {
    background-image: url('../_images/logo-stereosuper@2x.png');
    -webkit-background-size: 55px 26px;
    -moz-background-size: 55px 26px;
    background-size: 55px 26px;
  }
}
/* @end */
