html, body {
	height:100%;
	width:100%;
	margin:0;
	background-color:#000;
}

body {
	background-attachment:fixed;
	color:#fff;
	height:100%;
	letter-spacing: 0.05em
}

.clearing {
	clear:both;
	height:1px;
}

a {
	color:#00cafd;
	outline:none;
}

a:hover { 
	color:#fff;
}

a:active {
	color :#808080
}

a:visited {
	color:#00657f;
}

/* custom selection colors */

::-moz-selection {
	color: #013b47;
	background: #00cafd;
}

::selection {
	color: #013b47;
	background: #00cafd;
}

/* colonne gauche */
#leftPane {
	background:#000;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	height:100%;
	width:425px;
	text-align:right;
}

#fighters {
	display:block;
	background:url('../ornaments/fighters.jpg') no-repeat;
	height:352px;
}

h1#logo {
	height: 52px;
	overflow: hidden;
	position: relative;
	float:right;
	width: 349px;
	margin-top:18px;
}

h1#logo span {
	background:url('../ornaments/stereosuper.gif') no-repeat;
	display: block;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

#coordonnees {
	background-color:#000;
	padding-bottom:10px;
}

#leftPane address {
	font-size:0.9em;
	font-style:normal;
	margin-right:49px;
}

a#plan {
	display: block; 
	height: 13px; 
	overflow: hidden; 
	position: relative; 
	width: 13px;
	float:right;
	margin:3px 0 0 5px;
}	

a#plan span {
	background: url('../ornaments/plan.gif') no-repeat; 
	display: block; 
	height: 100%; 
	left: 0; 
	position: absolute; 
	top: 0; 
	width: 100%;
}

a#plan:hover span { 
	background-position: 0 -13px; 
} 

/* social */

#socialLinks li {
	display:inline;
}

#socialLinks li a {
	display: block; 
	height: 13px; 
	overflow: hidden; 
	position: relative; 
	width: 13px;
	float:right;
	margin:15px 0 0 5px;
}

#socialLinks li a#blog {
	width: 124px;
	margin-left:25px;
}	

#socialLinks li a span {
	display: block; 
	height: 100%; 
	left: 0; 
	position: absolute; 
	top: 0; 
	width: 100%;
}

a#blog span {
	background: url('../ornaments/blog.gif') no-repeat; 
}

a#rss span {
	background: url('../ornaments/rss.gif') no-repeat; 
}

a#facebook span {
	background: url('../ornaments/facebook.gif') no-repeat; 
}

a#twitter span {
	background: url('../ornaments/twitter.gif') no-repeat; 
}

a#flickr span {
	background: url('../ornaments/flickr.gif') no-repeat; 
}

#socialLinks li a:hover span { 
	background-position: 0 -13px; 
}
	
	
	
/* colonne droite */

#rightPane {
	margin-left:478px;
	padding:10px 0;
	width:472px;
}

h2#accroche {
	width:472px;
	height:354px;
	overflow: hidden;
	position: relative;
}

h2#accroche span {
	background:url('../ornaments/anneeSeraKarate.gif') no-repeat;
	display: block;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

#refs {
	background:url('../ornaments/separatorSuper.gif') no-repeat;
	margin-top:39px;
	padding-top:50px;
}

#refs p {
	margin-bottom:10px;
}

.ref {
	width:150px;
	height:112px;
	overflow: hidden;
	position: relative;
	float:left;
	margin-bottom: 10px;
}

.ref span {
	display: block;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.ref:hover span {
	background-repeat:no-repeat;
}

.ref:hover span {
	background-position:0 -112px;
}

#pingouins, #bis, #banniere {
	margin-right:11px;
}

#pingouins span {
	background-image:url('../ornaments/pingouins.jpg');
}

#bis span {
	background-image:url('../ornaments/bis.jpg');
}

#dm1m span {
	background-image:url('../ornaments/dm1m.jpg');
}

#aura span {
	background-image:url('../ornaments/aura.jpg');
}

#banniere span {
	background-image:url('../ornaments/banniereAndCo.jpg');
}


#presentation {
	background:url('../ornaments/separatorStereo.gif') no-repeat;
	margin-top:52px;
	padding-top:50px;
}

a#tournonsEnsemble {
	display: block; 
	height: 78px; 
	overflow: hidden; 
	position: relative; 
	width: 472px;
	float:right;
	margin-top:30px;
}

a#tournonsEnsemble span {
	background:url('../ornaments/tournons.gif') no-repeat;
	display: block;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

a#tournonsEnsemble:hover span {
	background-position:0 -78px;
}

#theend {
	background:url('../ornaments/separatorSuper.gif') no-repeat;
	margin-top:300px;
	padding:49px 0;
}

#theend h2 {
	width:472px;
	height:109px;
	overflow: hidden;
	position: relative;
}

#theend h2 span {
	background:url('../ornaments/fini.gif') no-repeat;
	display: block;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}